 <!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application"%>
   </head>
   <body class="body" background="http://www.aaaenggcoll.ac.in/wp-content/uploads/2013/07/all-sports-banner.png" style="background-size : 100%;">
	<div id="wrap">
  		<div class="content" id="body-container">
        <%= render :file => "layouts/maincontent" %>
		</div>
    </div>        
  </body>
</html>