<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style>
.pagecontent{
	padding-top:20px;
	padding-left:40px;
}
.leftcontent{

}
</style>
<div class="wrapper">
		<title>Page Title</title>
		<%= javascript_tag do %>			
			setTimeout("$('#alert').html(' ');", 10000);
		<% end %>
		<div class="leftcontent" >
			<%= render :file => "layouts/header" %>
			<div id="alert"><%= show_flash %></div>
			<div class="pagecontent" id="pagecontent">
				<%= yield %>
			</div>
		</div>
</div>
